[Desktop Entry]
Encoding=UTF-8
Name=Lien vers 25.3. unittest — Unit testing framework — Python 2.7.11 documentation
Type=Link
URL=https://docs.python.org/2/library/unittest.html
Icon=text-html
